

body {
  /* text-align: center; */
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #444444;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  color: white;
  margin: 10px;
}

h2 {
  color: #FFA000;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  margin: 0;
}


p {
  color: #888888;
  margin: 0;
}

a {
  font-size: 1rem;
  color: #888888;
  text-decoration: none;
  font-style: normal;
}

a:hover {
  color: white;
  text-shadow: 0 0 5px #ffffff;
  text-decoration: none;
}



/*********** CLASSES ***********/

#subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

.header {
  /* width: 100%; */
  height: 50px;
  text-align: left;
  /* margin: 30px 30px 30px 30px; */
  padding: 30px 30px 30px 30px;
}
/*
.nav-item {
  margin: 0 10px;
} */

.wave-container {
  margin-top: -10px;
  position: relative;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.top-container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding-right: 0;
  /* background-image: url(../images/blue-background.jpg); */
  background: linear-gradient(180deg, #FFA000 10%, #346AAC 90%);
  background-position: center;
  background-size: cover;
}

.title_container {
  max-height: 100%;

}

/********** BEGIN MENU BUTTON SECTION **********/

.menu-button-image {
  height: 100%;
  width: auto;
}
.menu-button {
  height: 100%;
  width: auto;
  border: none;
}

.menu-button:focus {
  border: none;
  outline-width: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); */
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/********** END MENU BUTTON SECTION **********/


.self-portrait-container {
  height: 100%;
  width: 100%;
}

.middle-container {
  margin: 50px 25% 50px 25%;
}

.profile {
  text-align: left;
  width: 100%;
  margin: 30px 0 30px 0;
}

.bio-image-container {
  text-align: center;
  width: 100%;
  height: auto;
}

.bio-image {
  height: 300px;
  border-radius: 50%;
}

.custom-horizontal-rule {
  display: block;
  margin: 100px auto 100px auto;
  border: none;
  color: white;
  height: 2px;
  background: black;
  background-image: -webkit-linear-gradient(left, white 1%, #FFA000 50%, white 99%);
}

.skills {
  text-align: left;
  width: 100%
}

.skill-row {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  height: auto;
}

.skills-horizontal-rule {
  display:block;
  margin: 10px auto 10px auto;
  border:none;
  /* color: white; */
  height:1px;
  background:black;
  background-image: -webkit-linear-gradient(left, #FFA000 30%, white 99%);
}

.coding-image {
  border-radius: 25%;
  background-color: #346AAC;
  float: left;
  margin-right: 20px;
  padding: 25px;
  height: 100%;
}

.sushi-image {
  border-radius: 25%;
  background-color: #346AAC;
  float: left;
  margin-right: 20px;
  padding: 25px;
  height: 100%;
}

.violin-image {
  border-radius: 25%;
  background-color: #346AAC;
  float: right;
  margin-right: 20px;
  padding: 25px;
  height: 100%;
}

@media (max-width: 878px) {

  .coding-image {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sushi-image {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .violin-image {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .skills {
    text-align: center;
  }

  .skill-row {
    display: inline-block;
    text-align: center;
  }

  .skills-horizontal-rule {
    display:block;
    margin: 10px auto 10px auto;
    border:none;
    color: white;
    height:1px;
    background:black;
    background-image: -webkit-linear-gradient(left, white 1%, #FFA000 50%, white 99%);
  }
}

.get-in-touch-text {
  padding-bottom: 10px;
}

.bottom-wave-container {
  margin-bottom: -10px;
  line-height: 0;
}

.bottom-container {
  background-color: #346AAC;
  margin: 0;
  text-align: center;
  width: 100%;
}

.bottom-container-content {
  padding-top: 0px;
  padding-bottom: 75px;
  font-family: 'Quicksand', sans-serif;
}

.footer-link {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bolder;
  font-style: normal;
  color: white;
}

.copyright {
  padding-top: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: white;
}
